#ifndef __AES_KEY_H__
#define __AES_KEY_H__

//
// Encryption setup
//
uint8_t key[16] = {0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 };

#endif // __AES_KEY_H__
